body {
    background-color: rgb(8, 1, 37);
}

h2 {
    margin-top: 5%;
    font-family: 'Monoton',
    cursive;
    font-size: 240px;
    text-align: center;
    color: rgb(0, 255, 21);
} 

h1 {
    color: lightblue;
    text-align: center;
    font-size: 50px;
    font-family: 'Amiri',
    serif;
}

.container {
    float: left;
    margin-left: 45%;
    margin-top: 3%;
    color: salmon;
    font-size: 16pt;
    font-family: 'Amiri',
    serif;
}

.userGuess {
    color: green;
    margin-right: auto;
    margin-left: auto;
}

#wins {
    font-size: 24px;
    color: springgreen;
}

#numLeft {
    font-size: 24px;
    color: red;
}

#numUsed {
    font-size: 24px;
    color: blue;
}

#lost {
    font-size: 24px;
    color: rebeccapurple;
}


@media only screen and (max-width: 800px) {


    /* h2 {
        position: fixed;
        float: left;
        bottom: 10%;
    } */

    .container {
        position: relative;
        float: right;
        margin-right: 5%;
        margin-top: -20%;
    }

    h1 {
        text-align: left;
        float: left;
        margin-top: 8%;
        margin-left: 6%;
        width: 50%;
    }